apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: saifrehman123/two-tier:v3
        ports:
        - containerPort: 5000
        env:
          - name: MYSQL_HOST
            value: mysql-service.mysql-db.svc.cluster.local
          - name: MYSQL_PORT
            value: "3306"
        envFrom:
          - secretRef:
              name: mysql-secret
          - configMapRef:
              name: mysql-config

